@import "tailwindcss";

@theme {
  --color-primary: #f20d0d;
  --color-background-light: #f8f5f5;
  --color-background-dark: #221010;
  
  --font-display: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  min-height: 100vh;
}
